body {
  font-family: 'Inter', sans-serif;
}

/**
 * Treetop global colors
 */

.colorSchemeLight {
  --treetop-background-color: #fff;
  --treetop-color: #212121;
}

.colorSchemeDark {
  --treetop-background-color: #202023;
  --treetop-color: #e8e8e8;
}
