body {
  font-family: 'Inter', sans-serif;
}

/**
 * Treetop global colors
 */

@media (prefers-color-scheme: light) {
  :root {
    --treetop-background-color: #fff;
    --treetop-color: #212121;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --treetop-background-color: #202023;
    --treetop-color: #e8e8e8;
  }
}

.colorSchemeLight {
  --treetop-background-color: #fff;
  --treetop-color: #212121;
}

.colorSchemeDark {
  --treetop-background-color: #202023;
  --treetop-color: #e8e8e8;
}

/**
 * Dialog: System colors
 */

@media (prefers-color-scheme: light) {
  .mdc-dialog {
    --dialog-title-color: rgba(0, 0, 0, 0.87);
    --dialog-content-color: rgba(0, 0, 0, 0.6);
    --floating-label-color: rgba(0, 0, 0, 0.6);
    --text-field-input-border-bottom-color: rgba(0, 0, 0, 0.42);
    --text-field-input-color: rgba(0, 0, 0, 0.87);
    --text-field-input-hover-border-bottom-color: rgba(0, 0, 0, 0.87);
  }
}

@media (prefers-color-scheme: dark) {
  .mdc-dialog {
    --dialog-title-color: rgba(255, 255, 255, 0.87);
    --dialog-content-color: rgba(255, 255, 255, 0.6);
    --floating-label-color: rgba(255, 255, 255, 0.6);
    --text-field-input-border-bottom-color: rgba(255, 255, 255, 0.42);
    --text-field-input-color: rgba(255, 255, 255, 0.87);
    --text-field-input-hover-border-bottom-color: rgba(255, 255, 255, 0.87);
  }
}

/**
 * Dialog: Title and content
 */

.mdc-dialog .mdc-dialog__title {
  color: var(--dialog-title-color);
}
.mdc-dialog .mdc-dialog__content {
  color: var(--dialog-content-color);
}
.colorSchemeLight .mdc-dialog .mdc-dialog__title {
  --dialog-title-color: rgba(0, 0, 0, 0.87);
}
.colorSchemeLight .mdc-dialog .mdc-dialog__content {
  --dialog-content-color: rgba(0, 0, 0, 0.6);
}
.colorSchemeDark .mdc-dialog .mdc-dialog__title {
  --dialog-title-color: rgba(255, 255, 255, 0.87);
}
.colorSchemeDark .mdc-dialog .mdc-dialog__content {
  --dialog-content-color: rgba(255, 255, 255, 0.6);
}

/**
 * Dialog: Floating label
 */

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--floating-label-color);
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #ff4088;
}
.colorSchemeLight
  .mdc-text-field:not(.mdc-text-field--disabled)
  .mdc-floating-label {
  --floating-label-color: rgba(0, 0, 0, 0.6);
}
.colorSchemeDark
  .mdc-text-field:not(.mdc-text-field--disabled)
  .mdc-floating-label {
  --floating-label-color: rgba(255, 255, 255, 0.6);
}

/**
 * Dialog: TextField input
 */

.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea)
  .mdc-text-field__input {
  border-bottom-color: var(--text-field-input-border-bottom-color);
  color: var(--text-field-input-color);
}
.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea)
  .mdc-text-field__input:hover {
  border-bottom-color: var(--text-field-input-hover-border-bottom-color);
}
.colorSchemeLight
  .mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea)
  .mdc-text-field__input {
  --text-field-input-border-bottom-color: rgba(0, 0, 0, 0.42);
  --text-field-input-color: rgba(0, 0, 0, 0.87);
}
.colorSchemeLight
  .mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea)
  .mdc-text-field__input:hover {
  --text-field-input-hover-border-bottom-color: rgba(0, 0, 0, 0.87);
}
.colorSchemeDark
  .mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea)
  .mdc-text-field__input {
  --text-field-input-border-bottom-color: rgba(255, 255, 255, 0.42);
  --text-field-input-color: rgba(255, 255, 255, 0.87);
}
.colorSchemeDark
  .mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea)
  .mdc-text-field__input:hover {
  --text-field-input-hover-border-bottom-color: rgba(255, 255, 255, 0.87);
}
