$treetop-primary: #ff4088;

@use '@material/theme/index' as theme with ($primary: $treetop-primary);

@use '@material/typography' with ($font-family: unquote('Inter, sans-serif'));

@use '@material/button';
@use '@material/dialog';
@use '@material/floating-label';
@use '@material/icon-button';
@use '@material/textfield';

// FIXME(snackbar)
// @use '@material/snackbar';

@include dialog.core-styles;
@include floating-label.core-styles;
@include icon-button.core-styles;

.mdc-dialog {
  @include dialog.min-width(480px);
}

// FIXME(snackbar)
//
// [!] (plugin postcss) Error: This module was already loaded, so it can't be configured using "with".
//    ┌──> node_modules/@smui/snackbar/_style.scss
// 2  │ ┌ @use '@material/snackbar/index' as snackbar with (
// 3  │ │   $action-ink-color: theme-color.prop-value(primary)
// 4  │ │ );
//    │ └─^ new load
//
// .mdc-snackbar {
//   @include snackbar.viewport-margin(24px);
// }

$mdc-dialog-title-color-light: rgba(0, 0, 0, 0.87);
$mdc-dialog-title-color-dark: rgba(255, 255, 255, 0.87);
$mdc-dialog-content-color-light: rgba(0, 0, 0, 0.6);
$mdc-dialog-content-color-dark: rgba(255, 255, 255, 0.87);

$mdc-textfield-ink-color-light: rgba(0, 0, 0, 0.87);
$mdc-textfield-ink-color-dark: rgba(255, 255, 255, 0.87);
$mdc-textfield-bottom-line-color-light: rgba(0, 0, 0, 0.42);
$mdc-textfield-bottom-line-color-dark: rgba(255, 255, 255, 0.42);
$mdc-textfield-bottom-line-color-light-hover: rgba(0, 0, 0, 0.87);
$mdc-textfield-bottom-line-color-dark-hover: rgba(255, 255, 255, 0.87);

$search-box-icon-button-color-light: rgba(0, 0, 0, 0.6);
$search-box-icon-button-color-dark: rgba(255, 255, 255, 0.6);
$search-box-icon-button-color-light-hover: rgba(0, 0, 0, 0.87);
$search-box-icon-button-color-dark-hover: rgba(255, 255, 255, 0.87);

@media (prefers-color-scheme: light) {
  :root {
    --mdc-theme-surface: #fff;
  }

  .mdc-dialog {
    @include dialog.title-ink-color($mdc-dialog-title-color-light);
    @include dialog.content-ink-color($mdc-dialog-content-color-light);
  }

  .mdc-text-field {
    --mdc-floating-label-color: rgba(0, 0, 0, 0.6);

    @include textfield.ink-color($mdc-textfield-ink-color-light);
    @include textfield.bottom-line-color(
      $mdc-textfield-bottom-line-color-light
    );

    &:hover {
      @include textfield.bottom-line-color(
        $mdc-textfield-bottom-line-color-light-hover
      );
    }
  }

  .searchBox .mdc-icon-button {
    @include icon-button.ink-color($search-box-icon-button-color-light);

    &:hover {
      @include icon-button.ink-color($search-box-icon-button-color-light-hover);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --mdc-theme-surface: #202023;
  }

  .mdc-dialog {
    @include dialog.title-ink-color($mdc-dialog-title-color-dark);
    @include dialog.content-ink-color($mdc-dialog-content-color-dark);
  }

  .mdc-text-field {
    --mdc-floating-label-color: rgba(255, 255, 255, 0.6);

    @include textfield.ink-color($mdc-textfield-ink-color-dark);
    @include textfield.bottom-line-color($mdc-textfield-bottom-line-color-dark);

    &:hover {
      @include textfield.bottom-line-color(
        $mdc-textfield-bottom-line-color-dark-hover
      );
    }
  }

  .searchBox .mdc-icon-button {
    @include icon-button.ink-color($search-box-icon-button-color-dark);

    &:hover {
      @include icon-button.ink-color($search-box-icon-button-color-dark-hover);
    }
  }
}

.colorSchemeLight {
  --mdc-theme-surface: #fff;

  .mdc-dialog {
    @include dialog.title-ink-color($mdc-dialog-title-color-light);
    @include dialog.content-ink-color($mdc-dialog-content-color-light);
  }

  .mdc-text-field {
    @include textfield.ink-color($mdc-textfield-ink-color-light);
    @include textfield.bottom-line-color(
      $mdc-textfield-bottom-line-color-light
    );

    &:hover {
      @include textfield.bottom-line-color(
        $mdc-textfield-bottom-line-color-light-hover
      );
    }
  }

  .searchBox .mdc-icon-button {
    @include icon-button.ink-color($search-box-icon-button-color-light);

    &:hover {
      @include icon-button.ink-color($search-box-icon-button-color-light-hover);
    }
  }
}

.colorSchemeDark {
  --mdc-theme-surface: #202023;

  .mdc-dialog {
    @include dialog.title-ink-color($mdc-dialog-title-color-dark);
    @include dialog.content-ink-color($mdc-dialog-content-color-dark);
  }

  .mdc-text-field {
    @include textfield.ink-color($mdc-textfield-ink-color-dark);
    @include textfield.bottom-line-color($mdc-textfield-bottom-line-color-dark);

    &:hover {
      @include textfield.bottom-line-color(
        $mdc-textfield-bottom-line-color-dark-hover
      );
    }
  }

  .searchBox .mdc-icon-button {
    @include icon-button.ink-color($search-box-icon-button-color-dark);

    &:hover {
      @include icon-button.ink-color($search-box-icon-button-color-dark-hover);
    }
  }
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-floating-label-color);
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: $treetop-primary;
}
.colorSchemeLight
  .mdc-text-field:not(.mdc-text-field--disabled)
  .mdc-floating-label {
  --mdc-floating-label-color: rgba(0, 0, 0, 0.6);
}
.colorSchemeDark
  .mdc-text-field:not(.mdc-text-field--disabled)
  .mdc-floating-label {
  --mdc-floating-label-color: rgba(255, 255, 255, 0.6);
}
